nav{
    	
	background-image: url("https://res.cloudinary.com/dytybjqwb/image/upload/v1738272487/final_p1wiig.png");
	background-size: cover;
	background-position: center;
	background-repeat: repeat;
	opacity: 0.7; /* Adjust the opacity */
	z-index: -1; /* Keeps it behind content */
}